#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px
}

#Contact img {
    width: 50px;
    margin: 3px;
}

#Contact img:hover {
    transform: rotateX(20deg);
}

@media screen and (max-width: 920px) {
    #Contact img {
        width: 30px;
    }
}