/* Font for header */
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1440px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .logo-gambar {
    width: 10%;
    object-fit: cover;
    object-position: center;
    margin-right: 5px;
    cursor: pointer;
}

header .logo .logo-text {
    height: 1.5em;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/* Akhir Logo  */

/* Nav */
header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin-left: 10px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Sansita', sans-serif;
    color: rgb(88, 88, 88);
}

@media screen and (max-width: 920px) {

    nav,
    ul,
    li {
        display: none;
    }
}